  <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
                md-component-id="left">
      <div flex layout="row">
        <md-button flex class="md-green md-raised" ng-click="side.main()">Flight Risk<br>Assessment</md-button>
      </div>
      <div flex layout="row">
        <md-button flex class="md-red md-raised" ng-click="side.hazard()">Hazard<br>Reports</md-button>
      </div>
      <div flex layout="row">
        <md-button flex class="md-purple md-raised" ng-click="side.viewNotifications()">View Old<br>Notifications</md-button>
      </div>
      <div flex layout="row" ng-if="side.isAdmin()">
        <md-button flex class="md-blue md-raised" ng-click="side.notification()">New<br>Notifications</md-button>
      </div>
      <div flex layout="row" ng-if="side.isAdmin()">
        <md-button flex class="md-yellow md-raised" ng-click="side.airports()">Edit<br>Airports</md-button>
      </div>
      <div flex layout="row" ng-if="side.isAdmin()">
        <md-button flex class="md-orange md-raised" ng-click="side.viewHazards()">View Hazard<br>Reports</md-button>
      </div>
      <div flex layout="row" >
        <md-button flex class="md-green md-raised" ng-click="side.login()">Admin<br>Login</md-button>
      </div>
  </md-sidenav>