.bering{
  font-weight:bold;
  font-size:120%;
}
@media only screen 
and (min-width : 1224px) {
  .md-button{
    margin-left:2em;
    margin-right:2em;
    font-size:110%;
  }
}

.md-tooltip{
  font-size:100%;
}

.tooltip-inner{
  white-space: pre-line;
  white-space: pre-wrap;
}
.my-button{
  margin-left:2em;
  margin-right:2em;
  font-size:120%;
}

.md-green{
  background-color:#80ff80 !important;
}
.md-blue{
  background-color:#80bfff !important;
}
.md-yellow{
  background-color:#ffff00 !important;
}
.md-red{
  background-color:#ff3333 !important;
  color:white;
}
.md-orange{
  background-color:#ffa500 !important;
}
.md-purple{
  background-color:#ff80ff !important;
}
.night{
  background-color:#00008B;
}
.day{
  background-color:white;
}
label{
  text-align:center;
}
md-select{
 padding-left:30px;
}
.bottom-row {
  padding-bottom:15px;
  border-bottom: 1px solid black;
}
md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 18vw !important;
    max-width: 400px !important;
} 
.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}
